// Colors
$red: #b84712;
$primary: $red;
$black: #000000;
$light-black: #383838;
$white: #FFFFFF;
$dark-gray: #242424;
$blue: #52CCE4;
$color-grey: #9A9A9A;
$color-light-red: rgba(240, 0, 39, 0.10);
$color-light-blue: rgba(82, 204, 228, 0.10);
$color-light-black: rgba(0, 0, 0, 0.10);

// Font
$archivo: 'Archivo', sans-serif;
$centered: center;
$spacing-0: 0;

// Font-weight
$regular-weight: 400;
$semiBold: 600;

// Carousel
$size-carousel-indicator: 10px;

// Spaces
$space-xxs: 1.25rem; //20px
$space-xs: 2.5rem; //40
$space-s: 3.75rem; //60
$space-m: 5rem; //80
$space-l: 6.25rem; //100
$space-xl: 7.5rem; //120
$space-xxl: 10rem; //160

// Breakpoints
$breakpoint-mobile: 640px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1800px;

// Font-size
$font-60-xxxl: 60px;
$font-50-xxl: 50px;
$font-30-xl: 30px;
$font-26-l: 26px;
$font-25-m: 25px;
$font-22-xs: 22px;
$font-20-xs: 20px;
$font-18-xxs: 18px;
$font-16-xxxs: 16px;
$font-14-xxxxs: 14px;

// Line-height
$line-70-xxl: 70px;
$line-60-xl: 60px;
$line-38-l: 38px;
$line-36-m: 36px;
$line-35-s: 35px;
$line-32-xs: 32px;
$line-27-xxs: 27px;
$line-26-xxxs: 26px;
$line-24-xxxxs: 24px;
$line-19-xxxxxs: 19px;